#current-number{
    text-align: center;
    margin: 10px 0;
    font-size: 48px;
    font-weight: bold;
}

#start-button{
    display: block;
    width: 200px;
    height: 40px;
    margin: 0 auto 30px;
    font-size: bold;
}

#result{
    width: 700px;
    margin: 0 auto;
}

.row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.column {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    background-color: lightgray;
    font-size: 16px;
    font-weight: bold;
}

.column.hit{
    background-color:#ffa600;
    color: #fff;
}